@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --transitionVeryShort: 0.08s;
  --transitionShort: 0.15s;
  --transitionMedium: 0.4s;
  --transitionLong: 0.7s;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: white;
  color: white;
  padding: 2rem 2rem 1rem;
  font-size: 1rem;
  transition: var(--transitionMedium) font-size;
}

body::before {
  display: block;
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #5441ff, #3629a7);
  z-index: -1;
  top: 0;
  left: 0;
}

.main,
.divider,
.header__city-name,
.header__city-info,
.header__description {
  opacity: 1;
  transition: var(--transitionLong) opacity;

  &.inactive {
    opacity: 0;
    transition: 0s opacity;
  }
}

.app-wrapper {
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  justify-content: space-between;
  flex-grow: 1;
  max-height: 800px;
}

.app-wrapper,
.footer {
  transform: translateY(1rem);
  opacity: 0;
  transition:
    var(--transitionLong) transform,
    var(--transitionLong) opacity;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.svg-icon {
  width: 2rem;
}

.header {
  display: grid;
  grid-template-columns: auto auto;

  img {
    width: 3rem;
  }
}

.header__city-name {
  font-size: 3em;
  margin-bottom: -0.325em;
  padding-bottom: 0.2em;
  font-weight: 600;
  line-height: 1;
}

.header__city-info {
  grid-column: 1;
  grid-row: 2;
  font-weight: 300;
  font-size: 1.375em;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  margin-left: 0.125rem;
}

.header__form {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  margin-left: 3rem;

  .header__load-animation {
    width: 1.25em;
    height: 1.25em;
    border: 3px solid white;
    border-radius: 50%;
    border-left-color: transparent;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    opacity: 0;
    animation: loadSpin var(--transitionLong) linear infinite;
    transition: var(--transitionVeryShort);

    &.active {
      opacity: 0.8;
    }
  }

  .header__input-wrapper {
    position: relative;
    cursor: text;
    font-size: 1.125em;
  }

  .header__button {
    font-size: 1em;
    padding: 0.375em 0.125em;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #513ff8;
    border-radius: 0.75rem;
    opacity: 0.9;
    transition: var(--transitionShort);

    &:hover {
      opacity: 1;
      background: white;
    }

    .svg-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .svg-icon svg {
      width: 1em;
      height: 1em;
    }
  }

  .header__input-label {
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transitionShort);
    color: rgba(255, 255, 255, 0.5);
    cursor: text;
  }

  .header__input {
    border: none;
    border-bottom: 1px solid white;
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.8);

    transition: var(--transitionShort);
    width: 18ch;
    background: none;

    &:focus {
      outline: none;
      border-color: rgba(255, 255, 255, 0.8);

      color: white;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      transform: translateY(-1.25em);
      font-size: calc(0.75em);
    }
  }
}

.header__suntime {
  display: flex;
  gap: 1rem;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .svg-icon {
    width: 2em;
    margin-right: 0.25rem;
    filter: brightness(0) invert(1);
  }
}

.header__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  font-weight: 200;
  letter-spacing: 0.025em;
  grid-column: 1 / span 2;
  grid-row: 3;
  font-size: 1em;
  opacity: 0.7;
  margin-top: 0.25rem;
  margin-bottom: -0.675rem;
}

.divider {
  --dividerExtension: 4rem;
  margin: 1rem 0 3rem;
  position: relative;
  left: calc(var(--dividerExtension) / -2);
  width: calc(100% + var(--dividerExtension));
  border-bottom: 1px solid white;
  opacity: 0.7;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}

.main__current-conditions {
  font-size: 1.25em;
  display: grid;
  grid-template-columns: repeat(auto, 4);
  grid-auto-rows: 1fr;
  width: fit-content;
  margin-bottom: 3rem;
}

.main__current-item {
  display: flex;
  align-items: center;
}

.main__weather-icon {
  grid-row: 1 / span 4;
  align-self: stretch;
  justify-self: stretch;
  justify-content: center;
  margin-right: 3rem;
  width: fit-content;

  .svg-icon {
    font-size: 1.25em;
    width: 10em;
    margin: -1.2em;
  }
}

.main__conditions {
  grid-column: 2;
  grid-row: 1;
}

.main__temperature {
  grid-column: 2;
  display: block;
  grid-row: 2 / span 2;
  font-size: 3.25em;
  align-self: center;
  transform: scale(1.15) translateX(0.4rem);
  line-height: 1;
  font-weight: 400;
}

.main__feels-like {
  grid-column: 2;
  grid-row: 4;

  .bolder {
    margin-left: 0.375rem;
  }
}

.main__column3 {
  grid-column: 3;
  margin-left: 4rem;
  margin-right: 0.75rem;
  width: fit-content;
  font-weight: 200;

  .svg-icon {
    filter: brightness(0) invert(1);
    margin-right: 0.25rem;
  }
}

.main__air-pressure {
  grid-row: 1;
}

.main__wind-speed {
  grid-row: 2;
}

.main__humidity {
  grid-row: 3;
}

.main__rain-chance {
  grid-row: 4;
}

.main__amount {
  grid-column: 4;
}

.main__hourly-forecast {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.main__forecast-time {
  font-size: 1em;
}

.main__forecast-temperature {
  font-size: 1.25em;
}

.main__forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;

  .svg-icon {
    width: 5rem;
  }
}

.main__column3,
.main__amount {
  transition: var(--transitionMedium) font-size;
}

.main__amount {
  white-space: nowrap;
}

/* --------------------------------- SWITCH --------------------------------- */

.header__switch {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
  justify-self: end;
  margin-bottom: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.7;
  transition: var(--transitionShort);
  margin-top: 1rem;

  &:hover {
    opacity: 1;
  }

  p {
    font-size: 1em;
  }
}

/* The switch - the box around the slider */
.switch {
  font-size: 1em;
  position: relative;
  display: inline-block;
  width: 2.75em;
  height: 1.675em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  color: white;
  -webkit-transition: var(--transitionMedium);
  transition: var(--transitionMedium);
}

.slider-inner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #72b9d5;
  font-weight: bold;
  height: 1.25em;
  width: 1.25em;
  left: 0.25em;
  bottom: calc(0.25em - 1px);
  background-color: #4f3def;
  -webkit-transition: var(--transitionMedium);
  transition: var(--transitionMedium);
}

input:checked + .slider {
  background-color: white;
  color: white;
}

input:checked + .slider > .slider-inner {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 0.675em;
}

.slider.round .slider-inner {
  border-radius: 0.525em;
}

.slider-units {
  display: flex;
  position: absolute;
  gap: 0.425rem;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

/* --------------------------------- FOOTER --------------------------------- */

.footer {
  display: flex;
  align-items: flex-end;
  font-size: 0.875rem;
  flex: 1;
  color: white;
  margin-top: 0.25em;
  gap: 1.5em;
  transition: var(--transitionMedium) font-size;

  a,
  p {
    display: inline-block;
    opacity: 0.6;
  }

  a {
    transition: var(--transitionShort);
    font-weight: 600;
  }

  a:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.footer__name {
  transition: var(--transitionShort);
}

.footer__name:hover {
  text-decoration: underline;
  opacity: 1;
}

.footer__icon {
  font-size: 1.25em;
  transition: var(--transitionShort);
  margin-bottom: -0.25rem;
  margin-left: 0.125rem;

  .svg-icon svg {
    width: 1em;
    height: 1em;
  }
}

/* ------------------------------- ANIMATIONS ------------------------------- */

@keyframes loadSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------------------------- RESPONSIVENESS ----------------------------- */

@media (max-width: 1024px) {
  body {
    font-size: 0.875rem;
  }

  .footer {
    font-size: calc(0.875rem - 1px);
  }
}

@media (max-width: 870px) {
  html,
  body {
    height: auto;
  }

  body {
    padding-top: 0;
  }

  .app-wrapper {
    justify-content: flex-start;
    flex-grow: 0;
    max-height: initial;
    padding: 1rem 0;
  }

  .divider {
    width: 100%;
    left: 0;
  }

  .main {
    flex-grow: 0;
    align-items: center;
    justify-content: initial;
  }

  .header__city-name {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 2rem;
  }

  .header__city-info {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .header__form {
    grid-column: 1;
    grid-row: 1;
    justify-self: flex-start;
    margin-left: 0;
  }

  .header__switch {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0;
  }

  .header__description {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .main__current-conditions {
    grid-auto-rows: min-content;
  }

  .main__weather-icon {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 1rem;
    transform: scale(1.15);
  }

  .main__conditions {
    grid-row: 1;
  }

  .main__temperature {
    grid-row: 2;
    transform: scale(1.2) translateX(0.4rem);
  }

  .main__feels-like {
    grid-row: 3;
  }

  .main__conditions,
  .main__temperature,
  .main__feels-like {
    grid-column: 3 / span 2;
    justify-self: flex-start;
    margin-left: 1.75rem;
  }

  .main__column3 {
    margin: 0;
  }

  .main__air-pressure {
    grid-row: 4;
    grid-column: 1;

    &.main__amount {
      grid-column: 2;
    }
  }

  .main__wind-speed,
  .main__cloud-cover {
    margin-left: 1.25em;
  }

  .main__wind-speed {
    grid-row: 4;
    grid-column: 3;

    &.main__amount {
      grid-column: 4;
    }
  }

  .main__humidity {
    grid-row: 5;
    grid-column: 1;

    &.main__amount {
      grid-column: 2;
    }
  }

  .main__cloud-cover {
    grid-row: 5;
    grid-column: 3;

    &.main__amount {
      grid-column: 4;
    }
  }

  .main__amount {
    margin-left: 0.75rem;
  }

  .main__column3,
  .main__amount {
    margin-top: 0.5em;
  }

  .main__air-pressure,
  .main__wind-speed {
    margin-top: 3.5em;
  }

  .footer {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25em 1em;
    width: 100%;
  }

  .slider {
    .slider-units {
      transform: translate(-50%, -51%);
    }
  }

  .main__hourly-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .svg-icon {
      margin-top: -0.25rem;
    }
  }

  #main__forecast-item-6 {
    display: none;
  }

  .value__forecast-time {
    order: 1;
    margin: -0.75rem 0 0.25rem;
  }

  .main__forecast-temperature {
    order: 2;
  }

  .header__form {
    position: relative;
  }

  .header__load-animation {
    position: absolute;
    margin-top: 1px;
    top: 0;
    left: 0;
  }

  .header__load-animation.active + .header__input-wrapper > .header__input {
    color: transparent;
  }
}

@media (max-width: 630px) {
  .header__description {
    flex-direction: column;
    gap: 0.25rem;
    align-items: start;
  }
  .header__suntime {
    margin-left: -0.25rem;
    margin-bottom: 0.25rem;
  }

  .main__weather-icon {
    transform: scale(1);
  }

  .main__current-conditions {
    font-size: 1rem;
  }

  .main__temperature {
    font-size: 3em;
  }
}

@media (max-width: 550px) {
  .main__column3,
  .main__amount {
    font-size: 0.875em;
    line-height: 1.1;
    margin-top: 0.875em;
  }
  .main__air-pressure,
  .main__wind-speed {
    margin-top: 3.25em;
  }
}

@media (max-width: 870px), (max-height: 750px) {
  html,
  body {
    height: auto;
  }

  .app-wrapper {
    justify-content: flex-start;
    flex-grow: 0;
    max-height: initial;
  }

  .main {
    flex-grow: 0;
    align-items: center;
    justify-content: initial;
  }
}
