.bolder {
  font-weight: bolder;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
